.login {
  margin: 0;
  padding: 0;
  font-display: sans-serif;

  .box {
    transform: translate(-50%, -50%);
    width: 35%;
    //height:360px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    .logo {
      padding-right: 10%;
    }

    .title {
      padding: 10px;
      height: 50px;
      background: #0169b2;
      color: white;
      font-family: sans-serif;
      box-shadow: 0px 3px #0169b2;
      font-size: 20px;
      font-weight: bold;
    }
    h1 {
      padding-top: 10px;
    }

    .form {
      padding: 10px;
      .input_fields {
        padding-bottom: 20px;
        p {
          text-align: left;
          color: red;
        }
      }
      Input {
        padding: 5px;
        border: none;
        display: block;
        margin: 15px auto;
        text-align: left;
        height: 50px;
        border-bottom: 1px solid #9e9e9e;
        //box-shadow:0px 3px #138496;
      }
      Input:focus {
        // border-bottom: 1px solid black;
        box-shadow: none;
      }
      .error {
        border-bottom: 1px solid red;
      }
      Button {
        background-color: #0169b2;
        padding: 10px;
        width: 90px;
        height: 50px;
        border: 0px;
        //border-radius: 50px;
        color: white;
        font-weight: bold;
      }
      .forgotPassword {
        padding-top: 10px;
      }
    }
  }
  .showPassword {
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    margin-top: -50px;
    border-radius: 40%;
  }
  .showPassword:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    transition-duration: 500ms;
  }
}
